<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="wrapper">
    <h1><%=newsdata.title%></h1>
<p>作者:
<%=newsdata.author%> 来源:
<%=newsdata.source%>发布时间:
<%=newsdata.ctime%>
</p>
<div>
    <%=newsdata.content%>
</div>
</div>
</body>
</html>